.content 
  .header
    TIM
    .title
      TIMOTHY COCHRAN PHOTOGRAPHY
  %ul.projects
    %li 
      %a{:href => "jeicoacoara"} jericoacoara, brazil
    %li 
      %a{:href => "recifeantiguo"} recife antiguo, brazil
    %li
      %a{:href => "salvador"} salvador, brazil 
  %img{:src => "images/church.jpg", :width => "800px", :height => "533px"}