body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Arial;
  text-align: center;
}

.title {
  font-family: "Helvetica Neue", Arial;
  font-weight: bold;
  font-size: 40px;
  white-space: nowrap;
  letter-spacing: 10px;
  visibility: visible;
  margin: 10px 0 20px;
}

ul
{
  font-family: "Helvetica Neue", Arial;
  font-size: 16px;
  padding-left: 10px;
  margin: 0;
  margin-bottom: 8px;
  li {
    list-style-type: none;
  }
}

.projects {
  margin-bottom: 60px;
  
  a, a:visited {
    color: black;
    text-decoration: none;
  }

  a:hover {
    color: black;
    text-decoration: underline;
  }
}

.project
{
  background-color: white; 
  overflow:hidden;
  padding-top: 40px;
  display: block;
  width: 940px;
  margin-right: auto;
  margin-left: auto;

  img { 
    margin-bottom: 100px;
    border: 1px solid #CCC;
  } 

  .left-side { float: left; }
  .right-side { float: left; }

  .image-list {
    float: left; 
    width: 800px;
    position: absolute;
    top: 0px;
  }

  @mixin photo-nav {
    margin: 220px 20px 0 20px;
    height: 60px; 
    width: 30px; 
    
    .arrow { 
      cursor: pointer; 
      fill:#EEE;
      stroke:#EEE;
      stroke-width:1;
    }
  }

  .previous-photo { 
    @include photo-nav;
  }

  .next-photo { 
    @include photo-nav;  
  }

  .image-viewer
  {
    height: 534px;
    width: 800px;
    overflow: visible;
    position: relative;
    float: left;

  }
}

.quote
{
  margin-top: 50px;
}


