body {
  margin: 0;
  padding: 0;
}

.title {
  font-family: Arial;
  font-weight: bold;
  font-size: 40px;
  white-space: nowrap;
  letter-spacing: 10px;
  visibility: visible;
  margin: 10px 0 20px;
}

ul
{
  font-family: Arial;
  font-size: 16px;
  padding-left: 10px;
  margin: 0;
  margin-bottom: 8px;
  li {
    list-style-type: none;
  }
}

.projects {
  margin-bottom: 60px;
  
  a, a:visited {
    color: black;
    text-decoration: none;
  }

  a:hover {
    color: black;
    text-decoration: underline;
  }
}

section.project
{
  background-color: white; 
  overflow:hidden;
  padding-top: 40px;

  img { 
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px solid #CCC;
  } 

}