.title {
  font-family: Arial;
  font-weight: bold;
  font-size: 95px;
  white-space: nowrap;
  position: absolute;
  
  top: 0px;
  visibility: visible;
}

.header
{
  position: relative;
  font-family: Arial;
  font-weight: bold;
  font-size: 90px;
  visibility: hidden;
  margin-bottom: 40px;
}

ul
{
  font-family: Arial;
  font-size: 18px;
  padding-left: 10px;
  margin: 0;
  margin-bottom: 8px;
  li {
    list-style-type: none;
  }
}

.projects {
  margin-bottom: 40px;


}